.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--ngd-primitive-4rule-16);
}

.sidebar-header.collapsed {
  justify-content: center;

  .sidebar-title {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}

.sidebar-title {
  color: var(--ngd-txt-primary-default);
}

.sidebar-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  border-radius: var(--ngd-token-radius-button-s);
  padding: var(--ngd-token-spacing-button-s-v-pad-2);
  cursor: pointer;

  &:hover {
    background: var(--ngd-ui-bg-tertiary-default);
  }
}

.icon {
  --icon-size: 18px;
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: var(--ngd-nav-button-icon-primary-default);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.icon-sidebar {
  mask-image: url('../../../../../assets/sidebar.svg');
  -webkit-mask-image: url('../../../../../assets/sidebar.svg');
}

.icon-library {
  mask-image: url('../../../../../assets/library.svg');
  -webkit-mask-image: url('../../../../../assets/library.svg');
}
