<div class="diagram">
  <ng-diagram
    [model]="model"
    [config]="config"
    [nodeTemplateMap]="nodeTemplateMap"
    [edgeTemplateMap]="edgeTemplateMap"
    (selectionGestureEnded)="onSelectionGestureEnded($event)"
    (paletteItemDropped)="onPaletteItemDropped($event)"
    (diagramInit)="onDiagramInit($event)"
    (edgeDrawEnded)="onEdgeDrawEnded($event)"
    (selectionMoved)="onSelectionMoved($event)"
    (nodeDragEnded)="onNodeDragEnded($event)"
  >
    <ng-diagram-background type="dots" />
  </ng-diagram>
  <app-edge-reshape-overlay />
</div>
